{% if user == false %}
    <div class="container center">
        <h2 class="forms-text pink">Войдите в свой аккаунт или зарегистрируйтесь</h2>
    </div>
{% endif %}

{% if message %}
    <div class="container center">
        <h2 class="forms-text modal_title pink">{{ message }}</h2>
    </div>
{% endif %}

<main class="container auth-flex">
    {% if user %}
        <h2 class="forms-text modal_title pink">Привет, {{ user.login }}!</h2>
    {% else %}
        <div>
            <h2 class="forms-text modal_title">Войти</h2>

            <form method="post" action="/auth/login">
                <input class="forms-input forms-input_width"
                       placeholder="Логин" type="text" required name="login">
                <input class="forms-input forms-input_width"
                       placeholder="Пароль" type="password" required name="password">
                <input class="button-black button_size"
                       type="submit" value="Отправить">
            </form>
        </div>
        <div>
            <h2 class="forms-text modal_title">Регистрация</h2>

            <form method="post" action="/auth/signUp">
                <input class="forms-input forms-input_width"
                       placeholder="ФИО" type="text" name="fio">
                <input class="forms-input forms-input_width"
                       placeholder="Логин" type="text" name="login" required>
                <input class="forms-input forms-input_width"
                       placeholder="Пароль" type="password" name="password" required>
                <input class="button-black button_size"
                       type="submit" value="Отправить">
            </form>
        </div>
    {% endif %}
</main>
