@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Lato", sans-serif;
}

.all {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    min-width: 1150px;
    margin: 0 auto;
}


.container {
    width: 1140px;
    margin: 0 auto;
}

.logo {
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 37px;
}


.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
    margin-bottom: 40px;
}


.flex {
    display: flex;
}

.heading {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.main-content {
    margin-left: 100px;
    width: 650px;
}

.text-bottom {
    color: #404040;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.35px;
    margin-bottom: 10px;
}

.name-product {
    color: #f16d7f;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 17px;
    text-decoration: none;
}

.change-products {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.box_margin {
    margin-bottom: 50px;
}

.box_flex {
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-link {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 23px 20px;
    display: block;
}

.menu-link:hover {
    color: #f16d7f;
}

.menu-link_hover {
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: 13px 23px 20px;
    display: block;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.button {
    padding-left: 17px;
    padding-right: 17px;
    height: 38px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.28px;
    line-height: 34px;
    background-color: #f16d7f;
    margin-left: 25px;
}

.button:hover {
    box-shadow: 0 5px 8px #646464;
}
.button-black {
    text-decoration: none;
    color: #4a4a4a;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.button-black:hover {
    box-shadow: 0 5px 8px #646464;
}
.button_size {
    padding: 12px 15px;
    font-size: 11px;
}
.pink {
    color: #f16d7f;
}
.center {
    text-align: center;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Выбрать файл';
    display: inline-block;
    background-color: #f16d7f;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 12px 15px;
    margin-bottom: 20px;
}

.custom-file-input:hover::before {
    box-shadow: 0 5px 8px #646464;
}
.product-form {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    color: #4a4a4a;
    font-size: 12px;
    padding: 0 12px;
}

.product-form_input {
    height: 36px;
    width: 138px;
}

.product-form_submit {
    height: 38px;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 38px;
}

.forms-text {
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.auth-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.forms-input_width {
    width: 337px;
}
.forms-input {
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 300;
    height: 45px;
    width: 355px;
    display: block;
    line-height: 45px;
    outline: none;
    margin-bottom: 20px;
    position: relative;
    padding-left: 18px;
}

.forms-input:last-of-type {
    margin-bottom: 23px;
}