<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../style/style.css">
    <title>Cloud</title>
</head>
<body>
<div class="all" id="app">
    <header class="header">
        <div class="container header-flex">
            <div class="header-left">
                <a class="logo" href="/auth">Облачное хранилище</a>
            </div>
        </div>
    </header>
    <nav class="navigation">
        <div class="container">
            <ul class="menu">
                <li class="menu-list">
                    <a class="menu-link" href="/auth">Авторизация</a>
                </li>
                <li class="menu-list">
                    <a class="menu-link" href="/index">Все файлы</a>
                </li>

                {% if user.role=="isAdmin" %}
                    <li class="menu-list">
                        <a class="menu-link" href="/user">Users</a>
                    </li>
                    <li class="menu-list">
                        <a class="menu-link" href="/order">Orders</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>

    {{ content|raw }}
</div>
</body>
</html>
